.welcome-section {
    text-align: center;
    padding: 2rem;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 2rem;
}

.learn-card{
    background: #810c0c;
    text-decoration: none;
    padding: 2px;
    border-radius: 5px;
     color: #fff;
}

.flex-item {
    background-color: rgb(238, 232, 232);
    flex: 1;
    padding: 1rem;
    text-align: center;
    gap: 1rem;
    padding: 3rem;
    border-radius: 1rem;
}

.flex-item:hover {
    box-shadow: 0 4px 8px rgba(203, 75, 75, 0.2);
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    border: 2px solid #810c0c;
}

footer{
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
    background-color: #ebb2b2;
    color: #fff;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
}

.footer{
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
}